.about {

  margin-left: 225px;

  &__title {
    font-size: 53px;
    line-height: 57px;
    color: $black;
    grid-column: 1 / -1;
    margin-bottom: 95px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 265px 325px;
    column-gap: 85px;
    row-gap: 111px;
  }

  &__text {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: $black;

    &:nth-child(1)::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-1.svg");
      background-repeat: no-repeat;
      width: 33px;
      height: 38px;
      bottom: 62px;
      left: 8px;
    }
    &:nth-child(2)::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-2.svg");
      background-repeat: no-repeat;
      width: 35px;
      height: 34px;
      bottom: 62px;
      left: 3px;
    }
    &:nth-child(3)::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-3.svg");
      background-repeat: no-repeat;
      width: 47px;
      height: 27px;
      bottom: 71px;
      left: 2px;
    }
    &:nth-child(4)::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-4.svg");
      background-repeat: no-repeat;
      width: 55px;
      height: 23px;
      bottom: 72px;
      left: -5px;
    }
    &:nth-child(5)::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-5.svg");
      background-repeat: no-repeat;
      width: 34px;
      height: 27px;
      bottom: 65px;
      left: 8px;
    }
    &:nth-child(6)::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-6.svg");
      background-repeat: no-repeat;
      width: 33px;
      height: 32px;
      bottom: 65px;
      left: 3px;
    }
  }
}

