.catalog {
  margin: 0 50px;
  padding-top: 57px;
  margin-bottom: 57px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 51px;
  row-gap: 30px;
}

.catalog-item {
  position: relative;
  width: 316px;
  border: 1px solid $white-sad;
  display: flex;
  flex-direction: column;

  &:hover .catalog-item__info {
    box-shadow: 0 6px 10px 0 $black10;
  }

  &:active .catalog-item__info {
    box-shadow: 0 3px 5px 0 $black10;
  }

  &__info {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    margin: 28px 26px 6px 26px;
  }

  &__description {
    position: relative;
    font-size: 15px;
    line-height: 30px;
    margin: 0 26px 12px 26px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 26px 25px 26px;
    padding-top: 23px;

    &::after {
      content: "";
      position: absolute;
      background-color: $white-sad;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
    }
  }

  &__price {
    position: relative;
    line-height: 24px;
    font-weight: 700;
  }

  &__cart {
    position: relative;
    width: 21px;
    height: 18px;
    right: 5px;
  }
}
