.catalog {
  margin: 0 30px;
  padding-top: 12px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    margin: 0 50px;
    margin-bottom: 52px;

  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    margin-bottom: 57px;
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 51px;
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    row-gap: 52px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 30px;
  }
}

.catalog-item {
  position: relative;
  border: 1px solid $white-sad;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: auto;
  }

  &:hover .catalog-item__info {
    box-shadow: 0 6px 10px 0 $black10;
  }

  &:active .catalog-item__info {
    box-shadow: 0 3px 5px 0 $black10;
  }

  &__info {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (min-width: $tablet-width) {
      width: 333px;
    }

    @media (min-width: $desktop-width) {
      width: auto;
    }
  }

  &__title {
    font-size: 17px;
    line-height: 24px;
    margin: 28px 26px 6px 26px;

    @media (min-width: $tablet-width) {
      margin: 26px 26px 6px 33px;
      font-size: 20px;
    }

    @media (min-width: $desktop-width) {
      margin: 28px 26px 6px 26px;
    }
  }

  &__description {
    position: relative;
    font-size: 13px;
    line-height: 30px;
    margin: 0 26px 12px 26px;

    @media (min-width: $tablet-width) {
      margin: 0 26px 12px 32px;
      font-size: 15px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 26px 12px 26px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 26px 25px 26px;
    padding-top: 28px;

    @media (min-width: $tablet-width) {
      margin: auto 26px 27px 32px;
      padding-top: 23px;
    }

    @media (min-width: $desktop-width) {
      margin: auto 26px 25px 26px;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: $white-sad;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
    }
  }

  &__price {
    position: relative;
    line-height: 24px;
    font-weight: 700;
    font-size: 15px;

    @media (min-width: $tablet-width) {
      font-size: 17px;
    }
  }

  &__cart {
    position: relative;
    width: 21px;
    height: 18px;
    right: 5px;
  }
}
