.featured {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  margin-bottom: 74px;

  @media (min-width: $tablet-width) {
    padding: 0 calc(32px + 50px) 0 50px;
    min-height: 572px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 32px 61px 175px;
    justify-content: normal;
    margin: 0 50px;
    margin-bottom: 104px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/zigzag-featured-mobile.svg");
    width: 100%;
    min-height: 6px;
    bottom: -44px;
    z-index: 2;
    left: 0;

    @media (min-width: $tablet-width) {
      min-height: 17px;
      background-image: url("../img/zigzag-featured-tablet.svg");
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      min-height: 23px;
      bottom: -34px;
      background-image: url("../img/zigzag-featured.svg");
    }
  }

  &__title {
    text-transform: uppercase;
    color: $green-light;
    z-index: 2;
    order: 2;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 100px;
      text-align: center;
      position: absolute;
      bottom: auto;
      left: auto;
      top: 5px;
      right: 63px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      left: 32px;
      order: 0;
      right: auto;
      margin-top: 8px;
      top: auto;
    }
  }

  & picture {
    order: 5;
  }
}

.featured-card {
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 292px;
    display: block;
  }

  &__title {
    position: relative;
    color: $black;
    order: 1;
    z-index: 2;
    font-size: 25px;
    width: 260px;
    line-height: 30px;
    margin-bottom: 6px;

    @media (min-width: $tablet-width) {
      font-size: 43px;
      width: 450px;
      line-height: 50px;
      margin-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      font-size: 53px;
      line-height: 57px;
      width: 540px;
      margin-bottom: 35px;
    }
  }

  &__description {
    z-index: 2;
    order: 3;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-bottom: 48px;
      font-size: 17px;
      line-height: 30px;
      width: 292px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 60px;
    }
  }

  &__list {
    order: 4;
    z-index: 2;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 38px;

    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
      width: 292px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 124px;
    }
  }

  &__price {
    z-index: 2;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    order: 6;
    margin-bottom: 24px;
    font-size: 17px;

    @media (min-width: $tablet-width) {
      margin-bottom: 33px;
      font-size: 20px;
      width: 292px;
    }
  }

  &__button {
    z-index: 2;
    min-height: 52px;
    order: 7;
    min-width: 260px;

    @media (min-width: $tablet-width) {
      min-width: 292px;
      width: 292px;
    }
  }

  &__image {
    z-index: 1;
    position: relative;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      right: 50px;
      position: absolute;
      top: 100px;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      right: 0;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__row dd {
    width: 162px;

    @media (min-width: $tablet-width) {
      width: 194px;
    }
  }
}
