.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 51px 50px 58px 50px;
  background-color: $gray-light;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.social__link {

  & svg {
    fill: $black;
  }

  &:hover svg {
    fill: $green;
  }

  &:active svg {
    opacity: 0.3;
  }
}


.footer-academy {
  display: flex;
  align-items: center;

  &__text {
    position: relative;
    bottom: 5px;
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;
    margin-right: 28px;
  }
}

.footer-academy__link {

  & svg {
    fill: $green-light;
  }

  &:hover svg {
    fill: $green;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.footer-logo__link {

  & svg {
    fill: $black;
  }

  &:hover svg {
    fill: $green;
  }

  &:active svg {
    opacity: 0.3;
  }
}
