.intro {
  position: relative;
  background-color: $gray-light;
  // min-height: 238px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    z-index: 2;
    bottom: 0;

    @media (min-width: $tablet-width) {
      background-image: url("../img/zigzag-intro-tablet.svg");
      height: 24px;
      bottom: -12px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/zigzag-intro.svg");
      height: 34px;
      bottom: -18px;
    }
  }

  &__title {
    text-align: center;

    &--prime {
      padding: 73px 30px 0 30px;
      font-size: 27px;

      @media (min-width: $tablet-width) {
        padding: 155px 80px 0 80px;
        font-size: 42px;
      }

      @media (min-width: $desktop-width) {
        padding: 158px 225px 0 225px;
        font-size: 53px;
      }
    }

    &--primary {
      font-size: 27px;
      padding: 72px 22px 75px 22px;

      @media (min-width: $tablet-width) {
        font-size: 43px;
        margin-bottom: 86px;
        padding: 102px 175px 0 175px;
      }

      @media (min-width: $desktop-width) {
        font-size: 53px;
        margin-bottom: 95px;
        padding: 102px 225px 0 225px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      padding: 0 50px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &__button {
    position: relative;
    height: 103px;
    padding: 24px 30px 31px 30px;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: $white;
    text-align: left;
    margin-top: auto;
    width: 100%;
    z-index: 1;

    @media (min-width: $tablet-width) {
      line-height: 30px;
      padding: 25px 36px 34px 36px;
      height: 119px;
      max-width: 525px;
      font-size: 20px;
    }

    &:hover {
      height: 124px;
    }

    &:hover::before {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.3;
    }

    &--first {
      background-color: $green-light;

      &::before {
        position: absolute;
        content: "";
        background-image: url("../img/interior.svg");
        width: 41px;
        height: 62px;
        right: 35px;
        top: 24px;
        opacity: 0.5;

        @media (min-width: $tablet-width) {
          right: 34px;
          top: 30px;
        }
      }
    }

    &--second {
      background-color: $green-dark;

      &::before {
        position: absolute;
        content: "";
        background-image: url("../img/toy.svg");
        width: 60px;
        height: 60px;
        right: 27px;
        top: 22px;
        opacity: 0.5;

        @media (min-width: $tablet-width) {
          right: 37px;
          top: 30px;
        }
      }
    }
  }
}

.intro--prime {
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 488px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/hero-tablet.jpg");
    min-height: 746px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hero-desktop.jpg");
  }
}
