.reviews {
  position: relative;
  min-height: 457px;
  padding: 0 30px 40px 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    margin: 0 50px;
    margin-bottom: 84px;
  }

  &::before {

    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      background-image: url("../img/review.png");
      background-repeat: no-repeat;
      width: 350px;
      height: 457px;
      bottom: -28px;
      z-index: -1;
      left: 0;
      top: -80px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/zigzag-featured-mobile.svg");
    width: 100%;
    min-height: 6px;
    bottom: -11px;
    z-index: 2;
    left: 0;

    @media (min-width: $tablet-width) {
      min-height: 17px;
      background-image: url("../img/zigzag-featured-tablet.svg");
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      min-height: 23px;
      bottom: -12px;
      background-image: url("../img/zigzag-featured.svg");
    }
  }

  &__title {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      font-size: 43px;
      margin-bottom: 37px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 35px;
      font-size: 53px;
    }
  }
}

.review {
  overflow: hidden;


  &__list {
    display: flex;
    min-width: 100%;
    overflow: hidden;
    margin-bottom: 33px;
    transition: 0.5s;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  // &__item {
  //   min-width: 100%;
  // }

  &__quote {
    display: block;
    line-height: 30px;
    margin-bottom: 32px;
    quotes: none;
    font-size: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 62px;
      font-size: 17px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 44px;
    }
  }

  &__button {
    min-height: 52px;
    min-width: 175px;
    width: 100%;

    @media (min-width: $tablet-width) {
      width: auto;
      top: -5px;
      right: 50px;
      position: absolute;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      right: 0;
    }
  }

  &__cite {
    display: block;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 6px;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      font-size: 17px;
    }
  }
}

.review-controls {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin: 0;
    position: absolute;
    bottom: 146px;
    right: 68px;
    column-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    bottom: 190px;
    right: 19px;
  }

  &__button--prev {
    background-image: url("../img/arrow-left.svg");
    background-repeat: no-repeat;
    width: 130px;
    height: 52px;
    background-position: center;
    border: 1px solid $white-sad;

    @media (min-width: $tablet-width) {
      width: 50px;
      height: 26px;
      border: none;
    }
  }

  &__button--next {
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    width: 130px;
    height: 52px;
    background-position: center;
    border: 1px solid $white-sad;
    border-left: none;

    @media (min-width: $tablet-width) {
      width: 50px;
      height: 26px;
      border: none;
    }
  }
}

