*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 24px;
  color: $gray;
  min-height: 100%;
}

.main {
  position: relative;
  flex-grow: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

input::placeholder,
textarea::placeholder {
  font-size: 19px;
  line-height: 18px;
  opacity: 0.6;
  font-family: "Open Sans";

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  display: inline-block;
  background: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-primary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  border: 2px solid $gray;

  &:hover {
    background-color: $gray;
    color: $white;
  }

  &:active span {
    opacity: 0.3;
  }
}

.section-title {
  font-size: 27px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.search-icon,
.cart-icon {
  fill: $black;
  opacity: 0.2;
}

.link-effect {

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.icon-effect {

  &:hover {

    & svg {
      opacity: 1;
      fill: $green-light;
    }

    & span {
      opacity: 0.6;
    }
  }

  &:active {

    & svg {
      opacity: 0.3;
      fill: $green-light;
    }

    & span {
      opacity: 0.3;
    }
  }
}

