// Colors

$black: #000000;
$black10: #00000010;

$green: #46C1AE;
$green-light: #63D1BB;
$green-dark: #56C3B2;
$green-checkbox: #62D1BA;

$white: #FFFFFF;
$white-sad: #ECECEC;
$white-too-sad: #E5E5E5;

$gray: #444444;
$gray-light: #f1f1f1;

$shadow15: rgba(255, 255, 255, 0.15);
$shadow-form-error: rgba(0, 1, 1, 0.15);

//Viewports

$tablet-width: 768px;
$desktop-width: 1149px;
