// global Уроды ебаные.

@import 'global/variables.scss';
@import 'global/global.scss';
@import 'global/fonts.scss';

// blocks

@import 'blocks/header.scss';
@import 'blocks/main-header.scss';
@import 'blocks/intro.scss';
@import 'blocks/featured.scss';
@import 'blocks/product.scss';



